# data Manipulation
pandas
numpy

# visualization
matplotlib
seaborn

# env
python-dotenv

# ML
scikit-learn

# deep learning
tensorflow  # includes tf-keras
huggingface-hub
transformers

# dev tools
ipykernel  # provides the kernel

# FastAPI dev
fastapi
uvicorn  # ASGI server
pydantic  # Data validation using Python type hints

# audio manipulation
pydub  

# A decomissionner prochainement
speechrecognition
