name: Data Validation

on:
  # Lancement des tests à chaque Pull Request sur la branche main
  pull_request:
    branches:
      - main

jobs:
  run-validation-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          # Installez vos dépendances éventuelles (p. ex. pandas) si nécessaire.
          # pip install -r requirements.txt
          pip install pandas

      - name: Run validation script
        run: |
          python ./data/vadidation-data-derush.py
